@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes easeInOutBack {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popup-icon {
  animation: easeInOutBack 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
